<main class="main">

  <header class="header">
      <div>Currency Converter</div>
      <div>History</div>
  </header>

  <div class="content">

    <div class="currency-converter">
      <p>{{title}}</p>
      <div class="inputs-line">
        <app-convert-input></app-convert-input>

        From: <app-converter-dropdown [options]="currenciesOptions"></app-converter-dropdown>

        To: <app-converter-dropdown [options]="currenciesOptions"></app-converter-dropdown>

      </div>
      <div class="convert-result">
        {{convertSource}} = {{convertTarget}}
      </div>
    </div>

    <div class="history">

    </div>

  </div>
</main>

<router-outlet />
