
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vh 1vw;
  background-color: lightblue;
  padding: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
