<main class="main">

  <header class="header">
      <div>Currency Converter</div>
      <div>History</div>
  </header>

  <div class="content">

    <div class="currency-converter">
      <p>{{title}}</p>
      <div class="inputs-line">
        <app-convert-input (valueChanged)="valueToConvertChanged($event)"></app-convert-input>


        <app-converter-dropdown
          [options]="currenciesOptions | async"
          [title]="'From:'"
          (onSelectChange)="sourceChanged($event)">
        </app-converter-dropdown>

        <app-converter-dropdown
          [options]="currenciesOptions | async"
          [title]="'To:'"
          (onSelectChange)="targetChanged($event)"
        ></app-converter-dropdown>

      </div>
      <div class="convert-result">
        {{ sourceCurrency }} {{sourceValue}} = {{ targetCurrency }} {{targetValue}}
      </div>
    </div>

    <div class="history">

    </div>

  </div>
</main>

<router-outlet />
